body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container,
.container-920 {
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  max-width: 1500px;
}

.container-920 {
  max-width: 920px;
}
