.font__h2 {
  font: normal 20px/24px Helvetica;
}

.font__h1 {
  font: bold 40px/49px Helvetica;
}

.font__p {
  font: normal 14px/16px Helvetica;
}

.font__menu {
  font: normal 14px/16px Helvetica;
}

.font__hero-p {
  font: normal 12px/18px Helvetica;
}

.font__form {
  font: normal 12px/14px Helvetica;
}

@media (max-width: 520px) {
}
